@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus
input:-webkit-autofill, 
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit !important;
  -webkit-box-shadow: 0 0 0px 1000px #FFFFFF inset;
  transition: background-color 5000s ease-in-out 0s;
}

*{box-sizing: border-box; padding: 0; margin: 0;}
body { font-family: 'Plus Jakarta Sans', sans-serif !important; }
.active-nav { color: #fff; background: #635FC7; cursor:none;}
.active-nav:hover { background: #635FC7 !important;}

.gen-btn-class { background: #635FC7 !important; color: #fff !important; position: relative; overflow: hidden; transition: 0.4s;}
.gen-btn-class:after{ content: ''; position: absolute; top: -50%; right: -50%; bottom: -50%; left: -110%; background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0)); transform: rotateZ(60deg) translate(-5em, 7.5em);}
.gen-btn-class:hover::after, button:focus::after { animation: gen-btn-class 1s forwards;}
@keyframes gen-btn-class { 100% { transform: rotateZ(60deg) translate(1em, -9em); left: 100%; }}


/* auth forms */
.input-container { height: 50px; position: relative; width: 100%; margin-bottom: 50px;}
.input-class { background-color: transparent; border-radius: 5px; border: 0; box-sizing: border-box; border:1px solid #a19fe2; height: 100%; outline: 0; padding: 4px 20px 0; width: 100%;}
.input-class:focus { border: 1px solid #635FC7;}
.password-input { position: relative; border: 1px solid red; display: flex; align-items: center; justify-content: space-between; border-radius: 5px; border: 0; box-sizing: border-box;  border: 1px solid #635FC7; height: 50px; width: 100%; padding:0 20px ;}
.password-input > input { background-color: transparent; border-radius: 5px; border: 0; box-sizing: border-box; border:1px solid #a19fe2; height: 100%; outline: 0; padding: 4px 20px 0; width: 100%; }
.password-input > .input-class:focus { border: 1px solid #635FC7;}
.input-class-p { background-color: transparent; height: 100%; border: 0; outline: 0; padding:0; width: 100%; height: 45px; width: 220px; }


/* loader */
.progress-1 { position: fixed; top: 0; left: 0; right: 0; height: 4px; display: block; width: 100%; margin: 0; overflow: hidden; background: #f4f4f4; z-index: 2000;}
.progress-1 .determinate { position: absolute; top: 0; left: 0;bottom: 0; background-color: #26a69a; -webkit-transition: width 0.3s linear; transition: width 0.3s linear;}
.progress-1 .indeterminate { background-color: #ff0c0c;}
.progress-1 .indeterminate:before { content: ""; position: absolute; background-color: inherit; top: 0; left: 0; bottom: 0; will-change: left, right; -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)   infinite; animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;}
.progress-1 .indeterminate:after { content: ""; position: absolute; background-color: inherit; top: 0; left: 0; bottom: 0; will-change: left, right; -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)   infinite; animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)   infinite; -webkit-animation-delay: 1.15s; animation-delay: 1.15s;}
@-webkit-keyframes indeterminate { 0% { left: -35%; right: 100%  } 60% { left: 100%;  right: -90%; } 100% { left: 100%; right: -90%;  }}
@keyframes indeterminate { 0% { left: -35%; right: 100%; } 60% { left: 100%; right: -90%;  } 100% { left: 100%; right: -90% }}
@-webkit-keyframes indeterminate-short { 0% { left: -200%; right: 100%;  } 60% { left: 107%; right: -8%; } 100% { left: 107%; right: -8%; }}
@keyframes indeterminate-short { 0% { left: -200%; right: 100%; } 60% { left: 107%; right: -8% } 100% { left: 107%; right: -8%; }}

.divide { margin: 20px 0;}
.divide > hr { margin-bottom: -12px;}
.divide > span { background: #fff !important; padding:0 20px;}
.fix-marg { margin-top: 0 !important;}


.review-card { background: #ffffff; box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; border-radius: 8px; margin-left: 20px !important; max-width: 360px; min-width: 360px; min-height: 200px; width: 100%; cursor: pointer; padding: 16px; }
.review-card > article { text-align: center; font-size: 14px; padding-top: 10px; display: flex; align-items: center; justify-content: center; }
.review-card > article:first-letter { text-transform: uppercase;}
.review-card > div { display: flex; align-items: center;}
.review-card > div > img { height: 80px; width: 80px; max-width: 80px; border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ; margin-right: 10px; 
  background-image: linear-gradient( 90deg, #eeeeee 0%, #eeeeee 40%, #dddddd 50%, #dddddd 55%, #eeeeee 65%, #eeeeee 100%); background-size: 400%; animation: shimmer 1000ms infinite;
}
@keyframes shimmer { from { background-position: 100% 100%;} to { background-position: 0 0;}}

.review-card > div > div > span { display: flex; align-items: center; }

.review-card .user-details > h1 { font-size: 16px; font-weight: bold;}
.review-card .user-details > h2 { font-size: 13px; text-transform: capitalize; padding-bottom: 3px;}
.splide__pagination__page { display: none !important;}



@layer base {
  body {
    @apply max-w-[1920px] mx-auto
  }
}


.column:nth-of-type(5n + 1) h3 span {
  @apply bg-[#49C4E5];
}
.column:nth-of-type(5n + 2) h3 span {
  @apply bg-[#8471F2];
}
.column:nth-of-type(5n + 3) h3 span {
  @apply bg-[#67E2AE];
}
.column:nth-of-type(5n + 4) h3 span {
  @apply bg-[#ff6fa2];
}
.column:nth-of-type(5n + 5) h3 span {
  @apply bg-[#ffca5e];
}
